
.cartSection{
    width: 80%;
    margin: 0 auto;
}
.terminarCompra{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-block:50px;
    p{
        margin: 0;
        margin-right: 15px; 
        font-weight: bold;
        font-size: 30px;
    }
    >button{
        text-decoration: none;
        text-align: center;
        border: none;
        padding: 20px;
        border-radius: 4px;
        font-size: 20px;
        background-color: rgb(40, 114, 212);
        color: #e5e7ea;
        cursor: pointer;
        &:hover{
            color: #e5e7ea;
        }
    }
}
.cartTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartReset{
    cursor: pointer;
}
.cartCard{
    margin: 15px auto;

    height:350px ;
    display: flex;
    border-radius: 8px;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    img{
        width:15% ;
        height: 100%;
        object-fit: contain;
        margin-right: 50px;
    }
    h2{
        text-align: left;
        font-size: 30px;
        margin: 0;
    }
    
    p{
        font-size: 20px;
    }
    span{
        font-weight: 600;
    }
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 85%;
        div{
            align-self: flex-end;
            
        }
        button{
            padding:0 15px;
            border: none;
            align-self: flex-end;
            font-size: 20px;
            font-weight: 500;
            background: none;
            cursor: pointer;
            transition: all 100ms;
            &:hover{
                color: rgb(33, 156, 33);
            }
        }
    }
    
}

.btnComprarComo{
    margin:26px 0 6px 0  ;
    margin-left: auto;;
}


#cartForm input{
    margin-right: 10px;
}