$blue: rgb(55, 55, 247);


.itemCountContainer{
    width: 200px;
    height: 250px;
    margin: 50px auto;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    >div{
        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(126, 126, 126);
        border-radius: 4px;
        padding:2px 5px;
        button{
            all: unset;
            color:$blue ;
            font-size: 20px;
            cursor: pointer;
        }
    }
    >button{
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        border-radius: 4px;
        color: $blue;
        border: 1px solid $blue;
        cursor: pointer;
    }
}