header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    >div{
        display: flex;
        align-items: center;
    }
    *{
        color: white;
    }
    img{
        height: 100px;
        margin-right:10px ;
    }
}

