.cardSection{
    container-type: inline-size;
}
.cardDetail{
    width: 90%;
    min-height: 800px;
    margin: 50px auto;
    border-radius: 15px;
    display: flex;
    padding: 50px 0 50px 50px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    h3{
        font-size: 35px;
    }
}
.detailPrice{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: 20px;

}
.detailImg{
    display: flex;
    position: relative;
    img{
        margin: auto;
        border-radius: 5px;
        max-height: 600px;
    }
}
.detailInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    width: 65%;
}
.detailDescription{
    font-size: 22px;
    line-height: 1.5;
    margin-top: 100px;

}

.btnTerminarCompra{
    text-decoration: none;
    text-align: center;
    border: none;
    width: 380px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(40, 114, 212);
    color: #e5e7ea;
    cursor: pointer;
    &:hover{
        color: #e5e7ea;
    }
}

.detailSubImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    img{
        height: 75px;
        margin: 10px 0;
        cursor: pointer;
        position: relative;
        opacity: .7;
    }
}

img.current{
    border: 1px solid rgb(33, 156, 33);
    opacity: 1;

}

.arrowFwd, .arrowBack{
    position:absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}
.arrowBack{
    left: 0;
}
.arrowFwd{
    right: 0;
}


@container (max-width: 991px){
    .cardDetail{
        flex-direction: column;
        align-items: center;
        padding: 50px     
    }
    .detailSubImg{
        flex-direction:row;
        align-self: flex-end;
        margin: 0;
        margin-bottom: 80px;
    }
    .detailInfo{
        padding: 0;
    }
    .detailInfo h3{
        margin: 16px 0;
    }
    .detailDescription{
        margin: 16px 0
    }
}
