.cardDetail{
    width: 90%;
    min-height: 800px;
    margin: 50px auto;
    border-radius: 15px;
    display: flex;
    padding: 50px 0 50px 50px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    h3{
        font-size: 35px;
    }
}
.detailPrice{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: 20px;

}
.detailImg{
    width: 35%;
    display: flex;
    img{
        margin: auto;
        width: 100%;
        border-radius: 5px;
    }
}
.detailInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    width: 65%;
}
.detailDescription{
    font-size: 22px;
    line-height: 1.5;
    margin-top: 100px;

}

.btnTerminarCompra{
    text-decoration: none;
    text-align: center;
    border: none;
    width: 380px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(40, 114, 212);
    color: #e5e7ea;
    cursor: pointer;
}